@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root{
    --primary-white: #fff;
    --primary-blue: #50AAC4;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255,255,255,0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
}
body{
    font-family: "Roboto Condensed" sans-serif ;
}
.landing{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    height: 250px;
    width: 600px;
}
.landing-content{

}
.landing-content h1{
    line-height: 80px;
    text-align: center;
    color: #5ED1F0;
    font-size: 50px;
    position: relative;
    top: -35px;
    
}
.landing-content h1:hover{
    color: #2130C6;
}
.landing-content p{
    line-height: 37px;
    position: relative;
    top: 50px;
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
    color: #5ED1F0;
}
.landing-content p:hover{
    color: #2130C6;
}
.templates{

}
.landing{
    position: absolute;
    background: url(image2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100%;
    top: -6px;
}
.btn:hover{
    color: #2130C6;
}