.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom: 2px solid black;
}
.logo{
    height: 90%;
}
.logo img{
    object-fit: contain;
    width: 118px;
    height: 99px;
    margin-top: 4px;
}
.navlinks{
    width: 40%;
}
.navlinks ul{
    display: flex;
    justify-content: space-evenly;
}
.navlinks ul li{
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
}
