.landing{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    height: 250px;
    width: 600px;
}
.landing-content{

}
.landing-content h1{
    line-height: 80px;
    text-align: center;
    color: orange;
    text-decoration: underline;
    font-size: 50px;
    position: relative;
    top: -35px;
}
.landing-content p{
    line-height: 40px;
    position: relative;
    top: 50px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: orange;
}
.templates{

}
.landing{
    position: absolute;
    background: url(image2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100%;
    top: -10px;
}