.showcase
  .navlinks
    .logo
      img.logo(src='https://icon-library.com/images/order-food-icon/order-food-icon-6.jpg' alt='')
      .logo-text
        | Eat
        span &
        | Treat
    ul.showcase-ul
      li.showcase-li
        a(href='/features') FEATURES
      li.showcase-li
        a(href='/details') DETAILS
      li.showcase-li
        a(href='/reviews') REVIEWS
      li
        a(href='/plans') PLANS
      li.showcase-li
        a(href='/signup') SIGNUP
  .showcase-content
    h1 MEAL PLANS.
    h1
      | FOR 
      span#changing-text
    .showcase-buttons
      .btn.btn-outline-success Book Now
      .btn.btn-outline-warning Show Me More
