extends base.pug
block content
 form
  .entry
    .entry-text Email
    input#email(type='email' name='Email' required='')
  .entry
    .entry-text Password
    input#pw(type='password' name='password')
  span#message  
  .btn-parent
    button.btn.btn-success.btn-full.form-button.loginBtn Log In
  .btn-parent
    button.btn-danger.btn-full.form-button.forgetPassword Forget Password  
 script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js' integrity='sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA==' crossorigin='anonymous' referrerpolicy='no-referrer')
 script(type="module" src="./js/login.js") 